<div class="jumbotron center">
    <h1>Welcome to Heather's Pinterested App</h1>
    <p>Pretty cool, eh?</p>
    <p>Now I've added some more stuff.</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary' %>

</div>