<div class="jumbotron center">
    <h1>Welcome to Heather's Pinterested App</h1>
    <p>Pretty cool, eh?</p>
    <p>Now I've added some more stuff.</p>
    
    <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
    <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>

</div>